body {
    margin:0;
    padding:0;
    background: white;
    
  }
  
  .background2 {
    display:flex;
      
  }
  
  .h12 {
    font-family: 'Open Sans';
    padding: 100px 0 0 50px;
    color: black;
    letter-spacing:5px; 
    text-align:left; 
  }
  
  .form2{
   
    background: #ECECEC;
    padding: 80px; 
    width:1600px;
      height:500px;
    background-image: url('https://images.unsplash.com/photo-1669860037865-2fe02dc00e01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=960&q=80');
    background-repeat: no-repeat;
   background-position-x :right;
  }
  
   .input2{
   font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 20%;
    border: 0;
    margin: 0 0 25px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:4px;
  }
  .button2 {
    font-family: arial;
    text-transform: uppercase;
    background: #926430 ;
    width: 20%;
    border: 0;
    border-radius:4px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
     letter-spacing:1px;
  }