body {
    margin:0;
    padding:0;
    bottom:0;
  }
  
  .footer2{
    display:flex;
    background: #00BD93;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    font-size:18px;
    
  }
  
  li{
    display:flex;
    color: white;
    
    
  }
  
  p{
    color: white;
  }
  
  .login-page{
   padding: 20px 0px;
  }
  
   input{
    width: 80%;
    padding:8px;
    border:0;
    margin: 0 0 15px;
    box-sizing: border-box;
  }
   button{
     position: relative;
    padding:15px;
    width: 80%;
     background: #808080;
     border:0;
  }
  