body {
    margin: 0;
    padding:0;
    
    
  }
  
  .list1 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 300px;
  }
  
  
  .li1{
   
    list-style-type: none;
    display: list-item;
    font-size: 20px;
    font-family:arial;
  
  }
  
  .li1::before{
    content:"\1F44D";
    
    
  }