body {
  margin: 0;
  padding:0;
  
  
}

.list1 {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 300px;
}

.ul1{
  background:white;
}

.li1{
 
  list-style-type: "\1F44D";
  display: list-item;
  font-size: 20px;
  font-family:arial;
 
  
}